/*
blue1: #6AE5FF
blue2: #20C2E3
blue3: #334C55
grey: #DAE2E5
 */



/*********************
 * HEADER
 *********************/




/*********************
 * NAV
 *********************/

.homeNav {
 font-family: "Quicksand", sans-serif;
 color: #fff;
 margin-top: -45px;
 height: 40px;
 font-size: 18px;
}


.homeNav .right {
  float: right;
}

.homeNav .left {
  margin-right: 100px;
}

.homeNav nav a {
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
}


.homeNav a.button {
  background: none;
  border: 1px solid #fff;
  padding: 7px 20px;
  font-size: 18px;
}

.homeNav a.button:hover {
  background: rgba(255,255,255,.2);
  border-color: #6AE5FF;
  text-decoration: none;
}

/*********************
 * The project
 *********************/

.homeProject {
  background: #DAE2E5;
  padding-top: 120px;
  overflow: hidden;
  position: relative;
  color: #666669;
}

.homeProject .container {
  max-width: 960px;
}

.homeProject h2 {
  text-indent: -10000px;
  background: url('/img/home-project-logo.png') center center no-repeat;
  background-size: 100%;
  width: 300px; height: 100px;
  display: inline-block;
  text-align: left;
  max-width: 100%;
}

.homeProject:after {
  content: '';
  position: absolute;;
  width: 101%; height: 100px;
  bottom: -75px; left: -3px;
  transform: rotate(2deg) scale(1);
  background: #334C55;
}

.objectives {
  padding-left: 6%;
}

.homeProject .tright {
  padding-bottom: 100px !important;
  border-right: 1px solid #CDD1D2;
  max-width: 480px;
  padding-right: 6%;
}

.homeProject .mainText {
}

.homeProject a.button {
  display: inline-block;
}

/*********************
 * The app
 *********************/

.homeApp {
  background: #334C55;
  padding-top: 120px;
  padding-bottom: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.homeApp .container {
  max-width: 960px;
}

.homeApp .box {
  color: #
}

.homeApp h3 {
  color: #DAE2E5;
}

.homeApp:after {
  content: '';
  position: absolute;;
  width: 101%; height: 100px;
  bottom: -75px; left: 0;
  transform: rotate(-2deg) scale(1);
  background: #fff;
}

.values {
  padding-right: 6%;
}
.slogan {
  border-left: 1px solid #708289;
  padding: 40px 0 100px 6%;
}

.slogan h2 {
  text-indent: -10000px;
  background: url('/img/home-app-logo.png') center center no-repeat;
  background-size: 100%;
  width: 200px;
  height: 93px;
  max-width: 100%;
}

.slogan > * {
  margin-bottom: 10px;
}

.security img {
  width: 46px;
  margin-left: 4px;
}

.free img {
  width: 67px;
  margin-left: -1px
}

.homeApp a.button {
  display: inline-block;
  margin-top: 20px;
}

/*********************
 * Collaborate
 *********************/

.homeCollaborate {
  background: #fff;
  padding-top: 120px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.homeCollaborate .rowflex {
  margin-bottom: 60px;
}

.homeCollaborate h3 {
  margin-bottom: 10px;
}

.collaborateLogo {
  text-indent: -10000px;
  background: url('/img/home-project-logo.png') center center no-repeat;
  background-size: 100%;
  width: 300px; height: 100px;
  display: inline-block;
  text-align: left;
  max-width: 100%;
  position: absolute;
  right: 6%; top: 50%;
  transform: translateY(-50%);
}

.collaborateIntro {
  padding-left: 6%;
  border-left: 1px solid #6AE5FF;
}



.homeCollaborate .tright {
  position: relative;
}

.collaborateWays {
  background: #DFE6E8;
  position: relative;
  margin-bottom: 60px;
}

.collaborateWays:before, .collaborateWays:after {
  content: ' ';
  background: #FFF;
  position: absolute;
  width: 100%; height: 20px;
  left: 0; top: 0;
}

.collaborateWays:after {
  top: auto; bottom: 0;
}

.ways > * {
  z-index: 1;
  position: relative;
  padding: 0 10px;
}

.ways span {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 15px;
}

.ways a {
  display: block;
  border: 3px solid #DFE6E8;
  background: #fff;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #334C55;
  transition: transform .3s, box-shadow .3s;
}

.ways a:hover {
  text-decoration: none;
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border-color: #6AE5FF;
}

.ways img {
  width: 100%;
  vertical-align: middle;
}

.homeCollaborate:after {
  content: '';
  position: absolute;;
  width: 101%; height: 100px;
  bottom: -75px; left: -3px;
  transform: rotate(1.8deg) scale(1);
  background: #334C55;
}

.thanks {
  text-align: center;
}

/*********************
 * The author
 *********************/



.homeAuthor {
  background: #334C55;
  padding-top: 120px;
  padding-bottom: 80px;
  color: #fff;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.homeAuthor:after {
  content: '';
  position: absolute;;
  width: 101%; height: 100px;
  bottom: -75px; left: 0;
  transform: rotate(-2deg) scale(1);
  background: #334C55;
}

.homeAuthor .container {
  max-width: 960px;
}

.homeAuthor h3 {
  color: #DAE2E5;
}

.homeAuthor .tright {
  padding-right: 6%;
}

.javiContainer {
  border-left: 1px solid #708289;
  padding: 50px 0 50px 6%;
}
