.homeApp {
  background: #334C55;
  padding-top: 120px;
  padding-bottom: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.homeApp .container {
  max-width: 960px;
}

.homeApp .box {

}

.homeApp h3 {
  color: $grey;
}

.homeApp:after {
  content: '';
  position: absolute;;
  width: 101%; height: 100px;
  bottom: -75px; left: 0;
  transform: rotate(-2deg) scale(1);
  background: #fff;
}

.values {
  padding-right: 6%;
}
.slogan {
  border-left: 1px solid #708289;
  padding: 40px 0 100px 6%;
}

.slogan h2 {
  text-indent: -10000px;
  background: url('/img/home-app-logo.png') center center no-repeat;
  background-size: 100%;
  width: 200px;
  height: 93px;
  max-width: 100%;
}

.slogan > * {
  margin-bottom: 10px;
}

.security img {
  width: 46px;
  margin-left: 4px;
}

.free img {
  width: 67px;
  margin-left: -1px
}

.homeApp a.button {
  display: inline-block;
  margin-top: 20px;
}
