.homeProject {
  background: #DAE2E5;
  padding-top: 120px;
  overflow: hidden;
  position: relative;
  color: #666669;
}

.homeProject .container {
  max-width: 960px;
}

.homeProject h2 {
  text-indent: -10000px;
  background: url('/img/home-project-logo.png') center center no-repeat;
  background-size: 100%;
  width: 300px; height: 100px;
  display: inline-block;
  text-align: left;
  max-width: 100%;
}

.homeProject:after {
  content: '';
  position: absolute;;
  width: 101%; height: 100px;
  bottom: -75px; left: -3px;
  transform: rotate(2deg) scale(1);
  background: #334C55;
}

.objectives {
  padding-left: 6%;
}

.homeProject .tright {
  padding-bottom: 100px !important;
  border-right: 1px solid #CDD1D2;
  max-width: 480px;
  padding-right: 6%;

  p {
    font-size: 1.15em;
  }
}

.homeProject .mainText {
}

.homeProject a.button {
  display: inline-block;
}
