	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop">
			<span class="arrow">^</span>
			<span class="top">Go to the top</span>
		</a>
		<div class="container">
			<div class="">
				<div class="col-md-4 medialinks">
					<a href="">OpenSource code at Github</a>
					<a href="">Blog at Medium</a>
					<a href="">Follow as at Twitter</a>
					<a href="">Support us at Patreon</a>
				</div>
				<div class="col-md-8 text-right">
					<p>&copy; PassPill Project 2018</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="social social-circle">
					</ul>
				</div>
			</div>
		</div>
	</footer>
