<section class="homeCollaborate" id="collaborate">
  <div class="container">
    <div class="row rowflex">
      <div class="col-sm-6 tright">
        <h2 class="collaborateLogo">Collaborate with PassPill project</h2>
      </div>
      <div class="col-sm-6 collaborateIntro">
        <h3>{{ .title }}</h3>
        <div class="mainText">
          {{ .intro }}
        </div>
      </div>
    </div>
  </div>

  <div class="collaborateWays">
    <div class="container">
      <div class="row ways">
        {{ range .boxes }}
        <div class="col-sm-3">
          <a href="{{ .url }}">
            <span>
            <img src="/img/ppp-{{ .icon }}-icon.png" alt="{{ .icon }} logo">
            </span>
            {{ .text }}
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="thanks">
    <h3>Thanks!</h3>
  </div>
</section>
