<section class="homeAuthor" id="author">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 tright">
        <h3>About the author</h3>
        <div>
          <p class="mainText">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <p class="mainText">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <p class="mainText">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <p class="mainText">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>
      <div class="col-sm-5 javiContainer">
        <div class="javi">
          <img src="/img/javi/javi-background.png" alt="">
          <div class="shadow shadow1"></div>
          <div class="shadow shadow2"></div>
          <div class="pcBright"></div>
          <div class="smoke smoke1"></div>
          <div class="smoke smoke2"></div>
          <div class="smoke smoke3"></div>
          <div class="javiBody"></div>
          <div class="javiHead">
            <div class="javiEye eyeLeft"></div>
            <div class="javiEye eyeRight"></div>
          </div>
          <div class="javiLeftArm"></div>
          <div class="javiRightArm"></div>
          <div class="javiPc"></div>
          <span class="click click1">click!</span>
          <span class="click click2">click!</span>
          <span class="click click3">click!</span>
        </div>
      </div>
    </div>
  </div>
</section>
