<section class="homeApp" id="app">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 values">
        <h3>PassPill app values</h3>
        <div class="box">
          <div class="boxSection security">
            <img src="/img/ppp-lock-icon.png" alt="">
            <div class="boxTitle">Security</div>
            <div class="boxDescription">
              Build an application easy to use, where people can keep their passwords for themselves securely.
            </div>
          </div>
          <div class="boxSection">
            <img src="/img/ppp-eye-icon.png" alt="">
            <div class="boxTitle">Privacy</div>
            <div class="boxDescription">
              Build an application easy to use, where people can keep their passwords for themselves securely.
            </div>
          </div>

          <div class="boxSection">
            <img src="/img/ppp-transparency-icon.png" alt="">
            <div class="boxTitle">Transparency</div>
            <div class="boxDescription">
              Build an application easy to use, where people can keep their passwords for themselves securely.
            </div>
          </div>

          <div class="boxSection free">
            <img src="/img/ppp-piggy-icon.png" alt="">
            <div class="boxTitle">Free forever</div>
            <div class="boxDescription">
              Build an application easy to use, where people can keep their passwords for themselves securely.
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 slogan">
        <p class="mainText">Take a ...</p>
        <h2 class="fadeInRight to-animate">Passpill</h2>
        <p class="mainText">... and never forget<br/> a password again</p>
        <a href="/app" class="button">Go to the app</a>
      </div>
    </div>
  </div>
</section>
