<section class="homeCollaborate" id="collaborate">
  <div class="container">
    <div class="row rowflex">
      <div class="col-sm-6 tright">
        <h2 class="collaborateLogo">Collaborate with PassPill project</h2>
      </div>
      <div class="col-sm-6 collaborateIntro">
        <h3>Collaborate</h3>
        <div class="mainText">
          PassPill project is a one person’s idea, a way of enjoying building an app through sharing the development process. But actually it’s a lot of work and every bit of help is much appreciated. There are many ways of collaborating.
        </div>
      </div>
    </div>
  </div>

  <div class="collaborateWays">
    <div class="container">
      <div class="row ways">
        <div class="col-sm-3">
          <a>
            <span>
            <img src="/img/ppp-github-icon.png" alt="Github logo">
            </span>
            Help with the code. Fork the app and give it a star in GitHub
          </a>
        </div>
        <div class="col-sm-3">
          <a>
            <span>
            <img src="/img/ppp-patreon-icon.png" alt="Patreon logo">
            </span>
            One dollar makes the difference. Patronize the project on Patreon
          </a>
        </div>
        <div class="col-sm-3">
          <a>
            <span>
            <img src="/img/ppp-twitter-icon.png" alt="Twitter logo">
            </span>
            Allow PassPill to reach more people. Follow @passpillio on Twitter
          </a>
        </div>
        <div class="col-sm-3">
          <a>
            <span>
            <img src="/img/ppp-forum-icon.png" alt="Github logo">
            </span>
            Join the discussion and give ideas. Participate in the forum
          </a>
        </div>
      </div>
    </div>
  </div>

      <div class="thanks">
        <h3>Thanks!</h3>
      </div>
</section>
