<section class="homeApp" id="app" data-section="app">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 values">
        <h3>{{ .box.title }}</h3>
        {{ partial "box.html" .box }}
      </div>
      <div class="col-sm-5 slogan">
        <p class="mainText">Take a ...</p>
        <h2 class="">Passpill</h2>
        <p class="mainText">... and never forget<br/> a password again</p>
        <a href="https://app.passpill.io" target="_blank" class="button">Go to the app</a>
      </div>
    </div>
  </div>
</section>
