<header class="homeHeader">
  <div class="container">
    <div class="row rowflex">
      <div class="col-sm-6 tright">
        <p>Let's build a<br/>password manager app <strong>together</strong></p>
        <p>Let's make its code<br/><strong>open source</strong></p>
        <p>Let's <strong>share</strong> all the process<br/>of building it</p>
      </div>
      <div class="col-sm-6">
        <h1>Passpill project</h1>
      </div>
    </div>
    <div class="row tcenter">
      <a href="#project" class="button">Let's do it !</a>
    </div>
  </div>
  {{ partial "home_nav.html" }}
</header>
